[submodule "blokas-docs-theme"]
	path = blokas-docs-theme
	url = https://github.com/BlokasLabs/blokas-docs-theme.git
[submodule "libpisoundmicro"]
	path = libpisoundmicro
	url = https://github.com/BlokasLabs/libpisoundmicro.git
